{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
<div id="container" class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4" style="margin-top:30px; margin-left:10%; text-align: right;">
      <img src="/static/images/IK4x.gif" alt="" height=";" class="img-responsive">
    </div>
    <div class="col-md-4" style="margin-top:30px;">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <strong>
            <h1 class="text-center">Instagram</h1>
          </strong>
          <strong>
            <h5 align="center">Sign up to see photos and videos from your friends.</h5>
          </strong>
        </div>
        <div class="panel-body">
          <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div id="signup" class="form-group" style="display: block;">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="register">

          </form>
          
        </div>
      </div>
      <div style="text-align: center; border: 1px solid rgb(189, 184, 184);border-radius: 5px; padding: 15px; margin-top:5px;">
        <h6>Have an account? <a href="/accounts/login/">Login</a></h6>
      </div>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
<style>
  .help-block {
    color: white;
  }

  .help-block ul,
  li {    
    display: none;
    visibility: hidden;
    margin-top: 0px;
  }

  #container {
    font-size: 10px;

  }

  h1 {
    font-family: 'Poiret One', cursive;
    font-family: 'Cookie', cursive;
    font-size: 50px;
  }

  h5 {
    color: grey;
    font-family: 'Passion One', cursive;
  }

  .form-group btn{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: black;
  }
</style>

{% endblock %}