{% extends 'all-images/base.html' %}
{% block content %}
<div class="container-fluid" style="background-color:rgba(252, 252, 252, 0.753); height: 100vh;">
  <div class="container" style="margin-top: 30px;">
    <div class="row" style="border-bottom: 1px solid rgb(214, 214, 214); padding-bottom: 10px;">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <div  id="profile"class="col-md-10" style="text-align:right;">
          <h1>{{current_user.username}}</h1><a href=""><button class="btn">EDIT PROFILE</button></a>
        </div>

        {% if user.is_authenticated %}

        <div class=" col-md-2 dropdown" style="padding-top:18px;padding-right:18px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-cog"
              style="font-size:18px;"></i>
            </span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="{%url 'contentToday'%}">Home</a>
            </li>
            <li>
              <a href="{%url 'new-article'%}">Create Article</a>
            </li>

            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>

        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}

      </div>
    </div>
  </div>
  <style>
    #profile .btn {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(190, 189, 189);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
  </style>
</div>
{%endblock%}