{% extends 'base.html' %}

{% block content %}
{{block.super}}


<div class=" col-md-12">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-6" style=" margin-bottom: 10px;text-align:center; padding-right: 50px; border-radius: 5px; padding: 10px; border: 1px solid rgb(214, 214, 214);">
            <a href="{%url 'new-post'%}">Upload image</a>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<div id="#section01" class="container" style="margin-top:30px; margin-left: 18%;">
    <!-- displaying images -->
    <div class="" style="margin-top:20px;">
        {% for post in posts %}
        <div class="row">
            <div class="col-md-6 card" style="border:1px solid rgb(243, 241, 241); margin-bottom:20px; padding: 0px; padding-right: 0px;">

                <div class="card-header" style="height: 70px; padding:5px; background-color: rgb(247, 247, 247);">
                    <div class="col-md-2">
                        <a href="{%url 'profile' user_id%}"><img class="img-responsive" src="{{ user.profile.prof_pic.url }}" style="width:50px; border-radius:50%"></a>
                    </div>
                    <div class="col-md-10">
                        <strong>
                            <a href=""><h4>{{post.user}}</h4></a>
                            <h5>{{post.post_date|timesince}}</h5>
                        </strong>
                    </div>
                </div>
                <div class="card-body" style="margin:0em;">
                    <!-- modal button-->
                    <img type="button" class="img-responsive" data-toggle="modal" data-target="#myModal{{post.id}}"
                        class="img-responsive" src="{{post.image.url }}" alt="" width="100%;">
                    <!-- modal -->
                </div>

                <div class="card-footer" style="padding-top:15px;">
                    <div class="col-md-12" style="margin-bottom: 10px; ">
                        <span class="instagram-like-icon"></span><span class="instagram-comment-icon"></span><span
                            class="instagram-bookmark-icon"></span>

                            <span class="instagram-pers-icon"></span>
                    </div>
                    <div class="col-md-12" style=" border-bottom: inherit;">
                        <p><strong>{{ post.user }}</strong> {{ post.caption }} </p>

                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-4">

            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% for post in posts %}
<!-- modal content -->
<!-- modal content -->
<div class="modal fade" id="myModal{{post.id}}" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.781);">
            <div class="modal-header">
                <div class="row">
                    <div class="">
                        <img src="{{post.image.url }}" alt="" width="110%" class="img-responsive">
                    </div>
                    <div class="">
                        <button type="" class="close" data-dismiss="modal">&times;</button>
                        <p><strong>Name:</strong> {{post.user}}</p>
                        <h4 class="modal-title">{{post.image_caption}}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    span.more-options {
        background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
        background-repeat: no-repeat;
        background-position: -78px -210px;
        float: right;
        height: 24px;
        position: relative;
        top: 11px;
        vertical-align: middle;
        width: 24px;
    }

    .instagram-post-bottom {
        padding: 15px 45px;
    }

    .instagram-like-icon {
        background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
        background-repeat: no-repeat;
        background-position: -72px -138px;
        float: left;
        height: 24px;
        margin-right: 20px;
        vertical-align: middle;
        width: 24px;
    }

    .instagram-comment-icon {
        background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
        background-repeat: no-repeat;
        background-position: -184px -52px;
        float: left;
        height: 24px;
        vertical-align: middle;
        width: 24px;
    }

    .instagram-bookmark-icon {
        background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
        background-repeat: no-repeat;
        background-position: -182px -184px;
        float: right;
        height: 24px;
        vertical-align: middle;
        width: 24px;
    }

    h5 {
        font-family: 'Maven Pro', sans-serif;
        color: crimson;
    }
</style>
{% endfor %}

{% endblock %}