<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class=""style="z-index: 1; width:100%; background-color:white;">
    <div class="container-fluid" style="padding-top:30px; border-bottom: 1px solid rgb(189, 184, 184);">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="/"><img src="http://www.transparentpng.com/thumb/logo-instagram/zI6ZGS-black-logo-instagram-png-transparent.png"
                alt="" class="img-responsive" width="30px;" height="30px;"> </a>
            <a style="border-left:1px solid black;font-family: 'Poiret One', cursive; font-family: 'Cookie', cursive; font-size: 30px; letter-spacing: 2px;"
              class="button" href="{% url 'index' %}">Instagram</a>
          </div>
          <div class="col-md-4">
            <!-- Adding a search form  -->
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                <input type="text" class="form-control my-2 my-sm-0 search-input" name="search" placeholder="Search.." id="search">
            </form>
            <!-- search form end -->
          </div>
          <div class="col-md-4" style="color: black; display: inline;">
            <a href=""><i class="far fa-compass" style="font-size:28px;"></i></a> &nbsp;
            <a href=""><i class="far fa-heart" style="font-size:28px;"></i></a> &nbsp; &nbsp;
            <a href="{% url 'profile' %}"><i class="far fa-user" style="font-size:28px;"></i></a>
          </div>
        </div>
      </div>

    </div>
  </nav>
</body>

</html>
<style>
  .container a {
    color: black;
    text-decoration: none;
  }
</style>