{% extends 'base.html' %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
<div class="container" style="margin-top: 30px;font-family: 'Krub', sans-serif; letter-spacing: px;">
  <div class="row" style="border-bottom: 1px solid rgb(214, 214, 214); padding-bottom: 1px;">
    <div class="col-md-3" style="float:right;">
      <img class="img-fluid rounded-circle" src="{{ user.profile.prof_pic.url }}" style="border-radius:50%; width:150px;">
    </div>
    <div class="col-md-7">
      <div style="container">
        <div class="row">
          <div class="col-md-3">
            <h2><strong>{{ user.username }}</strong></h2> 
          </div>
          <div class="col-md-9">
            {% if user in people_following %}
            <button class="btn btn-light btn-white btn-sm widen"><strong>Following</strong></button></a>
            {% elif user == current_user %}
            <a href="{% url 'updateprofile' %}"><button class="btn">EDIT PROFILE</button></a>
            {% else %}
            <a href="{% url 'follow' user_id=user.id %}"><button class="btn btn-primary btn-sm widen"><strong>Follow</strong></button></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div style="margin-top:30px;">
        <strong>{{ user.username }}</strong>
        &nbsp;<p>{{user.profile.bio}}</p>
      </div>
    </div>
    <div class="col-md-2" style="display:inline-block;">

      {% if user.is_authenticated %}

      <div class="dropdown" style="float:left;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-cog"
            style="font-size:18px;"></i>
          </span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="/accounts/password/change">Change Password</a>
          </li>
          <li>
            <a href="{%url 'index'%}">Home</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>

      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}

    </div>
  </div>
</div>
<span class="glyphsSpriteShare__outline__24__grey_9 u-__7" aria-label="Share Post"></span>




<div class="container" style="margin-top: 15px;">
  <div class="row">
    {% for image in images %}
    <div class="col-md-4 grid-object">
      <img class="img-fluid top-space" style="width:85%;height:85%;object-fit:cover;" src="{{ image.image.url }}" alt="{{ image.image_caption }}"
        data-toggle="modal" data-target="#{{image.id}}">
    </div>
    {% endfor %}
  </div>
</div>
<style>
</style>
{%endblock%}