{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if image%}
    <h2>Found {{ users|length }} of {{message}}</h2>
    {% else %}
    <h2> There is no user by this name {{message}}</h2>
    {% endif %}

  </div>

  <div class="row" style="font-family: 'Montserrat', sans-serif;">

    {% for img in image %}
    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="">
            <img type="button" class="img-responsive" data-toggle="modal" data-target="#myModal{{post.id}}"
            class="img-responsive" src="{{post.image.url }}" alt="" width="100%;">
        </a>
        <div class="card-body">
            <a href=""><h4>{{post.user}}</h4></a>
          <p class="text-muted card-text">{{ post.caption }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}